<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="vendor/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/jquery-3.2.1/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="vendor/vue-2.3/vue.min.js"></script>
    <script type="text/javascript" src="vendor/axios-0.16.2/axios.min.js"></script>
    <link href="vendor/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap-3.3.7/css/landing-page.css" rel="stylesheet">

    <script type="text/javascript" src="app/js/app.js"></script>

    <script>
        $document($('.dropdown-toggle').dropdown());
    </script>

</head>
<body>
<div >
    <div id="pagLogeo" >
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                    <form >
                        <div class="form-group">
                            <label for="txtDniLogeo"> Ingrese DNI: </label>
                            <input type="text" id="txtDniLogeo" v-model="dni" class="form-control" placeholder="DNI" maxlength="8">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="txtPassLogeo">Ingrese contraseña</label>
                            <input type="password" id="txtPassLogeo" v-model="clave" class="form-control" placeholder="Contraseña" maxlength="20">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="pagRegistro" >
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <form>
                        <h1>Registro de datos Personales</h1>
                        <div class="form-group">
                            <label for="txtDni">Registre DNI: </label>
                            <input type="text" class="form-control" id="txtDni" v-model="dni" placeholder="Ingrese DNI" maxlength="8">
                        </div>
                        <div class="form-group">
                                <label for="txtPass"> Ingrese Contraseña:</label>
                                <input type="password" id="txtPass" v-model="pass" placeholder="Ingrese Contraseña" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="txtPassAux">Repita Contraseña</label>
                            <input type="password" id="txtPassAux" v-model="passAux" placeholder="Repetir Contraseña" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="txtCorreo">Ingrese Correo</label>
                            <input type="email" id="txtCorreo" v-model="correo" placeholder="Ingrese Correo" class="form-control">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="datosPersonales" >
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="row">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="txtNombre">Nombres: </label>
                            <input type="text" id="txtNombre" v-model="nombre"  class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="txtApellidoPaterno">Apellido Materno: </label>
                            <input type="text" id="txtApellidoPaterno" v-model="apellidoPaterno"  class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="txtApellidoMaterno">Apellido Materno: </label>
                            <input type="text" id="txtApellidoMaterno" v-model="apellidoMaterno"  class="form-control" >
                        </div>
                    </form>
                </div>
                <br>
                <div class="row">
                    <form class="form-inline">
                        <div class="form-group col-xs-5">
                            <label for="txtEdad">Edad</label>
                            <input type="text" id="txtEdad" class="form-control" v-model="email">
                        </div>
                        <div class="form-group col-xs-7">
                            <label for="dateNacimiento">Fecha de nacimiento</label>
                            <input type="date" id="dateNacimiento" class="form-control" v-model="nacimiento">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="datosEducacion" >
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <div class="row">
                        <form class="fa-border">
                            <h3>Educacion Inicial</h3>
                            <label >
                                <h4>Centro Educativo: </h4><p></p>
                                <h4>Años cursados: </h4><p></p>
                                <h4>Ubicacion: </h4><p></p>
                            </label>
                        </form>
                        <br>
                        <form class="fa-border">
                            <h3>Educacion Primaria</h3>
                            <label >
                                <h4>Centro Educativo: </h4><p></p>
                                <h4>Años cursados: </h4><p></p>
                                <h4>Ubicacion: </h4><p></p>
                            </label>
                        </form>
                        <br>
                        <form class="fa-border">
                            <h3>Educacion Secundaria</h3>
                            <label >
                                <h4>Centro Educativo: </h4><p></p>
                                <h4>Años cursados: </h4><p></p>
                                <h4>Ubicacion: </h4><p></p>
                            </label>
                        </form>
                    </div>
                    <div class="row">
                        <br>
                        <br>
                        <br>
                        <form class="fa-border">
                            <h3>Educacion Superior</h3>
                            <label >
                                <h4>Centro Educativo: </h4><p></p>
                                <h4>Años cursados: </h4><p></p>
                                <h4>Ubicacion: </h4><p></p>
                            </label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>


